.menu {
    display: flex;
    align-items: center;
    background-color: var(--azul-escuro);
    padding: 5px;
}

.menu div {
    color: var(--branco);
}

.titulo {
    width: 200px;
    height: 100%;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 100%;
    height: 100%;

    border-radius: px;
}

.bg-header {
    height: 400px;
    width: 100%;
    object-fit: cover;
}